In [2]:
import pandas as pd
import json
import os

In [53]:
# READ FILE
uploaded_file = "Informes de ventas.csv"
df = pd.read_csv(uploaded_file,  decimal=".", header=0, thousands=r",")
# df.drop(columns='Unnamed: 0')

cols_must_be = ['Fecha', 'Unidades', 'Unitario Venta', 'Ventas', 'Costo Unitario', 'Costo Total', 'Margen', 'PorMargen', 'Codigo', 'Descripcion']

needed_cols = ['Fecha', 'Unidades', 'Unitario Venta', 'Ventas', 'Costo Unitario', 'Costo Total', 'Margen', 'PorMargen']

try:df[cols_must_be]
except: 
    
    try:df[cols_must_be]
    except:
        
        try: df[needed_cols]
        except: 
            print('Archivo tiene mal alguna columna')
            for col  in needed_cols:
                try: df[col]
                except: print(f'no se encontró la columna {col}' )
        else:
            try: df['CódigoInventario']
            except:
                print('archivo tampoco contiene columna "CódigoInventario"')
            else:
                code_des = df['CódigoInventario'].str.split(' ', n=1, expand=True )
                print('Se separó la columna "CódigoInventario"')
else: print('Archivo contiene columnas correctas')

df['Codigo'] = code_des[0]
df['Descripcion'] = code_des[1]
if df['CódigoInventario']:
    df.drop(columns=['CódigoInventario'], inplace=True)
df.to_csv("archivo cargado.csv")

df.head()

Archivo no contiene las columnas necesarias
Se separó la columna "CódigoInventario"

,Vendedor,Doc,Fecha,Nombres,Unidades,Unitario Venta,Ventas,Costo Unitario,Costo Total,Margen,PorMargen,Codigo,Descripcion
0,YOLEISY YOHANA POCHEZ PAREJO,FV R 11578,07/01/2020,Cliente General,4.0,2016.81,8067.23,1445.19,5780.78,2286.45,0.28,10012541,DISCO SEPARADOR CLUTCH
1,NaN,FV R 11578,07/01/2020,Cliente General,1.0,15168.07,15168.07,12132.58,12132.58,3035.48,0.20,10012780,CADENILLA DISTRIBUCION
2,NaN,FV R 11578,07/01/2020,Cliente General,1.0,12184.87,12184.87,8585.35,8585.35,3599.53,0.30,10012919,BANDA FRENO DEL Y TRAS
3,NaN,FV R 11578,07/01/2020,Cliente General,2.0,11344.54,22689.08,8585.35,17170.70,5518.38,0.24,10012919,BANDA FRENO DEL Y TRAS
4,NaN,FV R 11578,07/01/2020,Cliente General,1.0,17983.19,17983.19,13016.81,13016.81,4966.38,0.28,10015076,KIT GUIAS CADENILLA DIST

In [54]:
# LOAD FILE WITH SYNONYMS COLS

uploaded_file = "Informes de ventas.csv"
df = pd.read_csv(uploaded_file,  decimal=".", header=0, thousands=r",")
synonyms_cols = {'Total Costo': 'Costo Total'}
print(len(synonyms_cols))

cols_must_be = ['Fecha', 'Unidades', 'Unitario Venta', 'Ventas', 'Costo Unitario', 'Costo Total', 'Margen', 'PorMargen', 'Codigo', 'Descripcion']

needed_cols = ['Fecha', 'Unidades', 'Unitario Venta', 'Ventas', 'Costo Unitario', 'Costo Total', 'Margen', 'PorMargen']

try:df[cols_must_be]
except: 
    print('Archivo no contiene las columnas necesarias')
    if len(synonyms_cols) > 0:
        for key, value in synonyms_cols.items():
            try:df = df.rename(columns={key:value})
            except:print(f'fallo al intentar cambiar columna {key} a {value}')
    
    try:df[cols_must_be]
    except:
        
        try: df[needed_cols]
        except: 
            print('Archivo tiene mal alguna columna')
            for col  in needed_cols:
                try: df[col]
                except: print(f'no se encontró la columna {col}' )
        else:
            try: df['CódigoInventario']
            except:
                print('archivo tampoco contiene columna "CódigoInventario"')
            else:
                code_des = df['CódigoInventario'].str.split(' ', n=1, expand=True )
                print('Se separó la columna "CódigoInventario"')
else: print('Archivo contiene columnas correctas')

df['Codigo'] = code_des[0]
df['Descripcion'] = code_des[1]
df.drop(columns=['CódigoInventario'], inplace=True)
df.to_csv("archivo cargado.csv")

df.head()

1
Archivo no contiene las columnas necesarias
Se separó la columna "CódigoInventario"

,Vendedor,Doc,Fecha,Nombres,Unidades,Unitario Venta,Ventas,Costo Unitario,Costo Total,Margen,PorMargen,Codigo,Descripcion
0,YOLEISY YOHANA POCHEZ PAREJO,FV R 11578,07/01/2020,Cliente General,4.0,2016.81,8067.23,1445.19,5780.78,2286.45,0.28,10012541,DISCO SEPARADOR CLUTCH
1,NaN,FV R 11578,07/01/2020,Cliente General,1.0,15168.07,15168.07,12132.58,12132.58,3035.48,0.20,10012780,CADENILLA DISTRIBUCION
2,NaN,FV R 11578,07/01/2020,Cliente General,1.0,12184.87,12184.87,8585.35,8585.35,3599.53,0.30,10012919,BANDA FRENO DEL Y TRAS
3,NaN,FV R 11578,07/01/2020,Cliente General,2.0,11344.54,22689.08,8585.35,17170.70,5518.38,0.24,10012919,BANDA FRENO DEL Y TRAS
4,NaN,FV R 11578,07/01/2020,Cliente General,1.0,17983.19,17983.19,13016.81,13016.81,4966.38,0.28,10015076,KIT GUIAS CADENILLA DIST

In [43]:
# FILTER LIST and CREATE JSON LIST
products_list = df[['Codigo', 'Descripcion']]
products_list = products_list.drop_duplicates(subset=['Codigo']).dropna()
products_list['Descripcion'] = products_list['Descripcion'].str.strip()

print('Lista creada')
products_list.head()

loadfile_result = products_list.to_json(orient="table")
count = products_list.describe()['Codigo']['count']

result_data = {
            'total_count': int(count),
            'lista_productos':loadfile_result
        }

Lista creada